body {
	font-family: 'Segoe UI', sans-serif;
}

span {
	font-style: italic;
}

.box {
	min-width: 100px;
	min-height: 100px;
	padding: 10px;
	border: 1px solid #aaaaaa;
}

.section {
	float: left;
	margin: 2px;
}

.after {
	clear: left;
}

.table {
	/*width: 300px;*/
	border: 1px solid;
	margin: 10px;
}

.selected {
	color: red;
}

.item {
	margin: 0px;
}